.header {
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: whitesmoke;
}
.trigger {
  font-size: 22px;
  line-height: 64px;
  padding: 0 29px;
  cursor: pointer;
}
.sider {
  z-index: 1;
  .sliderLi {
    margin: 0px;
  }
}
.siteLayout {
  height: calc(100vh - 64px);
  .content {
    box-sizing: border-box;
    min-width: calc(100vw - 112px);
    max-width: calc(100vw - 112px);
    position: absolute;
    right: 0px;
    margin: 8px 8px;
    padding: 8px;
    height: calc(100vh - 96px);
    box-sizing: content-box;
    // background-color: rgba(31, 31, 31, 0.4);
    background-color: white;
  }
}
.menuNav {
  position: absolute;
  padding: 0px 32px;
  left: 0px;
  z-index: 99;
}
.bander {
  display: flex;
  align-items: center;
  .avatar {
    margin-right: 8px;
  }
}
.userinfo {
  display: flex;
  align-items: center;
  margin-right: 32px;
  height: 20px;
  .avatar {
    margin-right: 8px;
  }
}
